.categories {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
    padding-bottom: 50px;
}
.categories ul {
    list-style: none;
    padding: 1rem;
}
.categories li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

@media (max-width: 580px) {
    .categories {
        margin: 0%;
        width: 100%;
        max-width:none;
    }
}