.threeDot{
    /* right: 1%; */
    float: right;
    /* text-align: right; */
    /* justify-content: center;
    background-color: white;
    color: black; */
    
    /* border: 1px solid #4f005f; */
    background: white;
    color:#4f005f;
    border: none;
    padding: 0%;
}
.threeDot:hover,
.threeDot:focus{
    background: white;
    border-color: white;
}